/* .boxes {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
  max-width: 100vw;
  padding: 10px;
  box-sizing: border-box;
} */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
/*
#root {
   align-items: center; 
   width: 80%;
  height: 80%;
} */

h1,
h2 {
  font-size: clamp(18px, 28px, 38px);
  /* clamp(tamanho_mínimo, tamanho_desejado, tamanho_máximo) */
  margin: 10px 0;
  text-align: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(30vw, 40vw, 50vw);
  /* height: 100%; */
}

/* quando altura menor que largura*/
@media (orientation: portrait) {
  /* :root {
    color: red;
  } */
  .boxes {
    width: clamp(15vh, 30vh, 50vh);
  }
}

.row {
  display: flex;
  justify-content: center;
  /* min-width: 80vw;
  min-height: 80vh; */
}

.box {
  /* width: 100%; */
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.winScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winScreen button {
  margin: 4px;
}
